$red: #fe230a;
$dark-blue: #10167f;
$light-blue: #7c81b8;
$yellow: #ff9600;


.impact-container {
    background-image: url(../img/AR_world_bg.png);
}

.stat-row{
    padding: 1.5rem;

    
    div {
        color: white;
        font-size: 1em;
    }
    
    .stat-header {
        display: block;
        font-weight: bold;
    }
    
    .stat-large{
         span{
            font-size: 2em;
         }     
    }
    .stat-medium {
        span{
            font-size: 1.5em;
         } 
    }
    .stat-small {
        span{
            font-size: 1.2em;
         } 
    }
}

.stat-row.childhood {
        background: rgba(16, 22, 127, .4);
    }
    
.stat-row.youth{
        background: rgba(124, 129, 184, .4);
    }

.stat-row.income{
        background: rgba(254, 35, 10, .4);
    }

.stat-row.health{
        background: rgba(255, 150, 0, .4)
    }



