/*===== 

United Way Worldwide Annual Report 2015

Main Styles

=====*/

/*===== Global Styles =====*/

body{
    padding:0;
    margin: 0;
}

a {
    font-weight: bold;
    transition: ease .5s;
}

a:hover{
    color: #DC3601;
}

.full-screen-height {
    height: 100vh;
    position: relative;
    display: table;
    width: 100%;
    border: 8px solid #fff;
}

.row {
    z-index: 3;
}

/*======== Nav / title bar =========*/

.top-bar-title{
    width: 100%;   
}

#hamburger {
    border-radius: 0;
    float: right;
    margin-top: .3rem;
}

.main-nav{
    position: fixed; 
    display: block; 
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000;
    transition: .4s;
}

.top-bar, .top-bar a {
    color: white;
}

.top-bar ul {
    background-color: transparent;
}

.top-bar, .top-bar ul.submenu, .accordion-content{
    background: rgba(0,0,0,.7);
    border: none;
}


#vertical-menu {
    display: none;
}

.accordion-title {
    border: 0;
    font-size: 1em;
}

:last-child:not(.is-active)>.accordion-title {
    border-bottom: 0;
    border-radius: 0;
}

.accordion-title:focus, .accordion-title:hover {
    background: transparent;
}

.accordion-content {
    background: transparent;
    border: none;
    border-radius: 0;
    margin-left: 1em;
}

:last-child>.accordion-content:last-child {
    border-bottom: 0;
}




#logo {
    display:none;   
}

#mobile-logo {
    width: 75px;
}


/* prevent FOUC */

.no-js .top-bar-title {
  display: none;
}


/* hide top-bar if modal is open */

.is-reveal-open .top-bar {
    display: none;
}


/* submenu stuff */

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after,
.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    border-color: white transparent transparent;
}

ul.menu.submenu.is-dropdown-submenu.first-sub.vertical {
    top: 117%;
}



/*======== Cover ===========*/

.callout.primary{
    background: #10167f center center no-repeat;
    background-size: cover;
    position: relative;
}

#title{
    position: absolute;
    bottom: 2em;
    right: 2em;
}

#title h1{
    color:white;
}

.subheader{
    color: #F8AB40;
}



/*=========== Content =================*/

.content{
    border: solid white;
    border-width: 0 12px;
}

.callout.large{
    border: 0;
    border-bottom: 12px solid white;
    border-radius: 0;
    background-color: whitesmoke;
    margin: 0;
}

.section-lead .row{
    margin-top: 30px;
}


/*slider stuff */


    /* bullet buttons */

    .orbit-bullets button, .orbit-bullets button:after {
        background: #969696;
        border: 0;
        box-sizing: border-box;
        position: inherit;
        padding: 0;
    }

    .orbit-bullets button:before {
        border: 0;
    }

    .orbit-bullets button:after {
        content: none;
    }

    .orbit-previous, .orbit-next, .orbit-bullets button {
            z-index: 1;
    }

    .orbit-bullets button.is-active, .orbit-bullets button:hover {
        background-color: #F87907;
    }
    

    /*left-right buttons*/

    .orbit-previous, .orbit-next {
        background-color: #F87907;
        border:none;
        margin-top: -2.1875rem;
        transition: .3s;
        display: none;
    }

    .orbit-previous {
       left: -30px;
       transform: skew(20deg);
        padding-left: 3.125rem;
    }

    .orbit-next {
         right: -30px;
        transform: skew(-20deg);
        padding-right: 3.125rem;
    }

    button.orbit-previous:before, button.orbit-next:before{
        border: none;
    }

    .orbit-next:hover, .orbit-previous:hover {
        background-color: #F87907;
    }


    /*container*/

    .orbit-slide {
        width: 90%;
        margin: 0 auto;
        overflow: auto;
    }

    .orbit-container {
        height: auto!important
    }

    li.orbit-slide.text-left.is-active {
        max-height: 2000px!important;
    }



/*===== Buttons =====*/

/* new CTA buttons */

    .button:after, button:after{
        background:transparent
    }

    .button, .button.secondary{
        background: #F87907;
        border: 0;
        box-sizing: inherit;
        border-radius: 4px;
        color: white!important;
        transition: ease-in-out .5s;
        margin-top: 2em;
    }

    .button.ghost {
        border: 2px solid #F87907;
        background: transparent;
    }

    .button.ghost.white-outline {
        border: 2px solid white;
    }

    .button:hover, .button.secondary:hover{
        background:#DC3601;
    }

    .button.ghost:hover{
        background:#DC3601;
        border-color: #DC3601;
    }

    #framework .cta__link.submit, .cta__link.button {
        margin-top: 2em;
    }


/* hamburger fixes */

    button.menu-icon, button.close-button {
        border: 0;
        margin: 0;
        box-sizing: inherit;
    }


    button.menu-icon:before, button.menu-icon:after, button.close-button:after, button.close-button:before {
        border: 0;
        -webkit-transform: inherit;
        transform: inherit;
    }


/* modal */

    .reveal {
        padding-top: 4em;
        overflow: scroll;
    }

/*========= Element Fixes =========*/

/* tout fixes */

.image-touts__tout:before {
    /*background: linear-gradient(to bottom,transparent 0,rgba(16,22,127,.5) 100%);*/
    background: rgba(0,0,0,.3);
    height: 100%;
    transition: ease-in-out .3s;
}

.image-touts--four .image-touts__tout:hover:before {
       /* background: none;*/
        background: rgba(124,129,184,.1);
    }

.image-touts--three .image-touts__tout:hover:before,
.image-touts--three .image-touts__tout:after{
        background: none;
    }


.image-touts--three span.image-touts__text {
    color: #F87907;
}
 



/*======= Media Queries ===========*/


@media only screen and (min-width: 40em) {
    #title{
        margin-top: 25%;
    }
    
    #vertical-menu {
        display: block;
    }
    
    #accordion-menu {
        display:none!important;
    }
    
    .reveal{
        padding-top: 4em;
        opacity: .9;
    }
    
    .image-touts--four .image-touts__tout:hover:before {
        height: 100%;
    }
    
    #underlay-container .row {
        top: 50%;
    }
    
    #logo {
        display: block;
        width: 100px;
    }
    
    .orbit-previous, .orbit-next {
        display: block;
    }
    
    .no-js #responsive-menu {
        display: block;
    }

    .no-js .top-bar-title {
        display: none;
    }
}

@media only screen and (min-width: 64.063em){
.image-touts--three .image-touts__tout:hover .image-touts__text {
    left: 5%;
    bottom: 0;
    }
}

/* against the rules rules */

@media only screen and (max-width: 40em){

    .callout.large {
        padding: .3rem;
    }
    
    .callout.large>:first-child {
        margin-top: 1rem;
    }
    
    .callout.large.background-image{
        background-attachment: scroll;
    }
    
    .js-dropdown-active li {
        background: rgba(0,0,0,1);
    }
    

}
