/*===== 

United Way Worldwide Annual Report 2015

Background Image Styles

=====*/


/* rotating  background-images */ 

/*.callout:nth-child(1) {
  background-color: white;
}
.callout:nth-child(2) {
  background-color: lightgrey;
}
.callout:nth-child(3) {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/swirl_pattern.png);
}*/


/*overlays and underlays*/

/* creating an overlay */
.overlay:before {
    background: rgba(0,0,0,.5);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    transition: .3s;
    z-index: 2;
}

.overlay .slide-text h2{
    color: #e2e2e2;
}


/* underlay */


.underlay-container {
    padding-left: 0!important;
    padding-right: 0!important;
    margin: 0;
}

.underlay-container .row {
    padding-left: 0!important;
    padding-right: 0!important;
    max-width: 100%!important
}

.underlay {
    background: rgba(0,0,0,.7);
    padding: 2em;
    margin: 10% auto;
}

.underlay-text{ 
    max-width: 1200px; 
    margin: 0 auto;
}


/* overlay/underlay text */

.overlay h1, .underlay h1, .underlay .slide-text h2, .underlay .slide-text p{
    color: white;
}


/* background-image */

.background-image {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* background-video */

.callout.large.background-video {
    padding: 0;
}

.background-video section div div {
    padding: 0 2rem!important;
}

/* styles for dark backgrounds */

.dark h1, .dark h2, .dark h3, .dark p {
    color: white;
}


/* special snowflakes */

#CEO-letter {
    background-image: url(http://s3.amazonaws.com/uww.assets/site/annual_report/2015/AR_BAG_bg.png);
}

#childhood-success {
    background: linear-gradient(to top right,rgba(16,22,127, 1),rgba(16,22,127,.3) 100%);
}

#youth-success {
    background: linear-gradient(to top left,rgba(124,129,184, 1),rgba(124,129,184,.3) 100%);
}

#economic-mobility {
    background: linear-gradient(to bottom left,rgba(254,35,10, 1),rgba(254,35,10,.3) 100%);
}

#access-to-health {
    background: linear-gradient(to bottom right,rgba(255,150,0, 1),rgba(255,150,0,.3) 100%);
}

#katrina {
    background-image:url(http://s3.amazonaws.com/uww.assets/site/annual_report/2015/ar_katrina_bg.gif);
}

#hero-effect {
    background-image: url(https://s3.amazonaws.com/uww.assets/site/annual_report/2015/ar-hero-effect.jpg);
}

#gcl{
    background-image: url(http://s3.amazonaws.com/uww.assets/site/annual_report/2015/ar_gcl_bg.gif)
}

#building-stronger-communities-together{
    background-image: url(https://s3.amazonaws.com/uww.assets/site/annual_report/2015/AR_background3.png);
}

#measure-of-a-society {
    background-image: url(https://s3.amazonaws.com/uww.assets/site/annual_report/2015/AR_background1.png);
}

#NFL {
    background-image: url(https://s3.amazonaws.com/uww.assets/site/annual_report/2015/United_Way_Images_for_Fox-4.jpeg);
}

#labor {
    background-image: url(http://s3.amazonaws.com/uww.assets/site/annual_report/2015/ar_labor_bg.gif);
}

#donors{
    background-color: #e6d7aa;
}

#volunteers {
    background-image: url(../img/uw_studentunitedway.gif);
}



video#who-we-fight-for-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

@media only screen and (max-width: 40em){
    #cover {
        background-image: url(https://s3.amazonaws.com/uww.assets/site/annual_report/2015/AR_coverart.png);
        background-attachment: initial;
    }
    #cover video {
        display: none;
    }
    }
