/*===== 
United Way Worldwide Annual Report 2015
Special Element Styles
=====*/



/*===== CEO letter =====*/

#CEOModal {
    padding: 5rem;
}

#CEO-logo {
    width: 20%;
    float: left;
    display: block;
    margin-bottom: .6em;
}

#CEOModal h3 {
    clear: both;
}


@media screen and (max-width: 39.9375em){
   #CEOModal {
    padding:1rem;
   }

    #CEOModal img:nth-child(2) {
      width: 100%;
    }

}


.image-component img{
  max-width: 150px;
}

figcaption.media-component__caption.media-component__caption--inset {
    max-width: 150px;
    margin: 0 auto;
}



/*===== Overview Page =====*/

.overview-box-container{
    background: transparent;
    margin: 0;
}
.overview-boxes, .overview-box-container {
    border-radius: 0;
    border: 0;
}

.overview-boxes h4, .overview-boxes p {
    color: white;
}

.childhood {
    background: rgba(16, 22, 127, 1);
}

.youth {
    background: rgba(124, 129, 184, 1);
}

.income {
    background: rgba(254, 35, 10, 1);
}

.health {
    background: rgba(255, 150, 0, 1)
}



@media only screen and (min-width: 64em){
    .overview-boxes {
        min-height: 150px;
        margin: 0;
    }
    
}


/*===== Impact Grid =====*/


.stat-row {
  padding: 1.5rem; }
  .stat-row div {
    color: white;
    font-size: 1em; }
  .stat-row .stat-header {
    display: block;
    font-weight: bold; }
  .stat-row .stat-large span {
    font-size: 2em; }

/*===== GCL Grid =====*/

#gcl-grid {
    background: rgba(0,0,0,.7);
}

#gcl-grid div {
    padding: 2em 0;
    color: white;
}

#gcl-accordion li a {
    margin: 2em 0;
    font-size: 1.5em;
}

#gcl-accordion .menu.nested {
    margin-left: 0;
}


/* nested menu arrow */
.is-accordion-submenu-parent>a:after {
    right: 10%;
}

@media only screen and (min-width: 40em){
    .is-accordion-submenu-parent>a:after {
        right:40%;
    } 
}


@media only screen and (min-width: 64em){
    .is-accordion-submenu-parent>a:after {
        right:65%;
    }
    
}


/*==== Board Grids====*/

.leadership-grid div p i{
    font-size: .9em
}


/*==== Pie Charts ===*/

.pie-chart{
  position: relative;
  min-height:;
}

.pie-chart-piece {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 39.9375em){
    .pie-chart{
      min-height: 500px;
  }
}


/*===== Finace Table =======*/


#finance-table {
    margin: 1.25rem auto;
  }

@media only screen and (min-width: 40em){
   #finance-table {
    width: 85%;
  }
}